-i https://pypi.org/simple/
asn1crypto==1.2.0
cffi==1.13.1 ; platform_python_implementation != 'PyPy'
cryptography==2.2.2
django-bootstrap4==0.0.6
django-extensions==2.0.7
django-model-utils==3.1.2
django==2.0.6
idna==2.8
pycparser==2.19
pytz==2019.3
six==1.12.0
