@media (min-width: 768px) {
    .container-small {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container-small {
         width: 700px;
    }
}

@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
}

.container-small {
    max-width: 100%;
}
