{% extends 'onetimesecret/base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}


{% block onetimesecret_main %}

    <h1 class="mt-5">{% trans "Burn After Reading" %}</h1>
    
    <p>
        {% blocktrans trimmed %}
            A safer way to share sensitive information (secret messages, passwords, private links, etc.)
            with others. The secret you want to share with somebody is encrypted and can
            only be viewed once. It will be burnt once it has been read. You may consider it
            like a self-destructing message.
        {% endblocktrans %}
    </p>

    <form action="." method="post">
        {% csrf_token %}

        {% bootstrap_messages %}

        {% bootstrap_field form.content show_label=False %}
        {% bootstrap_field form.passphrase show_label=True %}
        {% bootstrap_field form.lifetime show_label=True %}

        <h2>{% trans "Ready?" %}</h2>
        <p>{% trans "When you submit this form, we will encrypt your secret and display a link which you can send to somebody." %}</p>
        <div class="alert alert-warning" role="alert">
            {% trans "Please be aware that we can show you the link only once. Make sure you copy the link immediately. There is no way to retrieve your secret otherwise." %}
        </div>

        {% trans "Create a secret link *" as button_label %}
        {% bootstrap_button button_label button_type="submit" button_class="btn-primary btn-lg btn-block" %}

    </form>

    <p>{% trans "* A secret link only works once and then disappears forever." %}</p>

{% endblock %}
