{% extends 'onetimesecret/base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}


{% block onetimesecret_main %}

    {% if not secret_exists %}

        <h1 class="mt-5">{% trans "Unknown Secret" %}</h1>

        <div class="alert alert-warning" role="alert">
            {% trans "The secret message you want to read either never existed or has already been read." %}
        </div>

        <p class="text-center">
            <a href="/" class="btn-primary btn-lg btn-block">{% trans "Share a secret of your own" %}</a>
        </p>

    {% else %}

        <h1 class="mt-5">{% trans "Burn After Reading" %}</h1>

        <p>
            {% blocktrans trimmed %}
                Someone wants to share a secret view with you. By clicking on "Show me the secret", we
                will show you the secret.
            {% endblocktrans %}
        </p>
        <div class="alert alert-warning" role="alert">
            {% blocktrans trimmed %}
                Please be aware that we can show you the secret only once. Make sure you copy the secret
                immediately. There is no way to retrieve your secret otherwise.
            {% endblocktrans %}
        </div>
        <h2>{% trans "Ready?" %}</h2>
        <p>{% trans "Alright. We will show you the secret right away. Just hit the button." %}</p>
        <form action="." method="post">
            {% csrf_token %}

            {% if form.passphrase %}
                {% bootstrap_field form.passphrase show_label=True %}
            {% endif %}

            {% trans "Show me the secret" as button_label %}
            {% bootstrap_button button_label name="submit" button_type="submit" button_class="btn-primary btn-lg btn-block" %}
        </form>

    {% endif %}

{% endblock %}
