{% extends 'onetimesecret/base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}


{% block onetimesecret_main %}

    <h1 class="mt-5">{% trans "Burn After Reading" %}</h1>

    <p>{% trans "Ok, here's your secret message." %}</p>

    <p>
        <textarea class="form-control" rows="5" id="the-secret">{{ plaintext }}</textarea>
    </p>

    <div class="alert alert-warning" role="alert">
        {% blocktrans trimmed %}
            Please be aware that we can show you the secret only once. Make sure you copy the secret
            immediately. There is no way to retrieve your secret otherwise.
        {% endblocktrans %}
    </div>

    <p>{% trans "That's it. We are all done here." %}</p>

    <hr>

    <p class="text-center">
        <a href="/" class="btn-primary btn-lg btn-block">{% trans "Record your own secret message" %}</a>
    </p>

{% endblock %}
